<h1>idが「<%= @task.id %>」のタスクの詳細</h1>

<p><%= @task.content %></p>

<%= link_to "タスク一覧", tasks_path %><br>
<%= link_to "タスクを編集", edit_task_path %><br>
<%= link_to "タスクを削除", task_path, method: :delete, data: {confirm: "本当に削除してよろしいですか？"}%>
